{% extends "layout.html" %}

{% block title%}
    Home
{% endblock%}

{% block content %}
    <section class="hero">
        <div class="hero-text">
            <h5>#Welcome to the world of Tech </h5>
            <h1>- DML tech</h1>
            <p>boosts your coding skils and competencies in latest Technologies and tools. DML Technologies is here to help you achieve your dreams.</p>

            <div class="main-hero">
                <a href="" class="btn">login</a>
                <a href="" class="join">
                    join |<span>Community</span>
                </a>
            </div>
        </div>

        <div class="laptop-img">
            <img src="static/images/laptop.jpeg" alt="laptop picture">
        </div>
    </section>

    <div class="icons">
        <a href=""><i class="ri-tiktok-fill"></i></a>
        <a href=""><i class="ri-whatsapp-fill"></i></a>
        <a href=""><i class="ri-youtube-fill"></i></a>
    </div>
    <div class="scroll">
        <a href="">
            <i class="ri-scroll-to-bottom-line"></i>
            Scroll down
        </a>
    </div>
{% endblock %}

