<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            django app
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="{% static "js/main.js" %}"></script>
</head>
<body>
    <header>
        <h1>logo</h1>
        <nav class="navi">
            <a href="">about</a>
            <a href="">contact</a>
            <a href="">help</a>
            <button class="abtn"><a href="">login</a></button>
        </nav>
    </header>
    <main class="main">
        {% block content %}
        
        {% endblock content %}
    </main>    
</body>
</html>